.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contTwo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 10px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.541);
}

.link {
  margin-left: 50px;
  margin-right: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(2, 2, 82);
  font-size: 25px;
}

.allRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  background-color: rgba(240, 255, 255, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin: 25px;
  border: 1px solid navy;
  box-shadow: 5px 10px 18px rgba(27, 27, 32, 0.795);
  width: 450px;
} 


.info {
  background-color: rgb(1, 1, 51);
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 16px;
  margin: 10px;
}

.labels {
  display: flex;
  margin-bottom: 15px;
}

.image {
  width: 350px;
  height: 350px;
  border: 1px solid black;
}

.ingredientCont {
  background-color: rgba(240, 255, 255, 0.699);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 18px;
  padding: 10px;
  border: 1px solid navy;
}


.searchBar {
  background-color: transparent;
  width: 350px;
  padding: 10px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 18px;
  color: black;
}

.searchBtn {
  background-color: rgba(135, 207, 241, 0.575);
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 18px;
  color: black;
  padding: 10px;
}

h3 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 20px;
}

h2 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 22px;
}